body {
    background: #0f172a;
    font-family: Arial;
    color: #fff;
}


.container {
    max-width: 420px;
    margin: auto;
    padding: 20px;
}


input,
button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 8px;
}


button {
    background: #22c55e;
    border: none;
}

.card {
    background: #020617;
    padding: 20px;
    border-radius: 12px;
}


img {
    width: 50px;
}


.price {
    font-size: 26px;
}


.up {
    color: #22c55e;
}

.down {
    color: #ef4444;
}


iframe {
    width: 100%;
    height: 300px;
}